{% load static i18n compress menu_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% if page.seo_title %}{{page.seo_title}}{% else %}{{page.title}}{% endif %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %}
      {% include "core/partials/meta_partial.html" %}
    {% endblock %}

    <link rel="icon" href="{% static 'images/favicons/favicon.png' %}">

    {% block css %}

    {% compress css %}
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    {% endcompress %}
    {% endblock %}

  </head>

  <body>
      <nav class="navbar is-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="https://bulma.io/images/bulma-logo.png" alt="{{SITE_NAME}}" width="112" height="28">
          </a>
        </div>
      </nav>

    {% block content %}{% endblock %}

  </body>
</html>

