{% load static wagtailimages_tags %}

{% with settings.core.SiteContentSettings as settings %}

  {% block meta_title %}
    <title>{% block title %}{% if page.seo_title %}{{page.seo_title}}{% else %}{{page.title}}{% endif %} | {{SITE_NAME}}{% endblock %}</title>
    <meta property="og:title" content="{% if page.seo_title %}{{page.seo_title}}{% else %}{{page.title}}{% endif %} | {{SITE_NAME}}" />
    <meta name="twitter:title" content="{% if page.seo_title %}{{page.seo_title}}{% else %}{{page.title}}{% endif %} | {{SITE_NAME}}"/>
  {% endblock %}

  <meta name="description" content="{% if page.search_description %}{{ page.search_description}}{% else %}{{ settings.meta_description_default }}{% endif %}" />

  {% block meta_og %}
    {% if page.meta_image %}
      {% image page.meta_image original as meta_image %}
      <meta property="og:image" content="{{ meta_image.url }}" />
      <meta property="og:image:alt" content="{{ meta_image.alt }}" />
      <meta property="og:image:height" content="{{ meta_image.height }}" />
      <meta property="og:image:width" content="{{ meta_image.width }}" />
    {% else %}
      {% image settings.meta_image_default original as meta_image %}
      <meta property="og:image" content="{{ meta_image.url }}" />
      <meta property="og:image:alt" content="{{ meta_image.alt }}" />
      <meta property="og:image:height" content="{{ meta_image.height }}" />
      <meta property="og:image:width" content="{{ meta_image.width }}" />
    {% endif %}
    <meta property="og:description" content="{% if page.search_description %}{{ page.search_description}}{% else %}{{ settings.meta_description_default }}{% endif %}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta property="og:type" content="website" />
  {% endblock %}

  {% block meta_twitter %}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content="{% if page.search_description %}{{ page.search_description}}{% else %}{{ settings.meta_description_default }}{% endif %}" />
  {% if page.meta_image %}
    {% image page.meta_image original as meta_image %}
    <meta name="twitter:image" content="{{ meta_image.url }}" />
    <meta name="twitter:image:alt" content="{{ meta_image.alt }}" />
  {% else %}
    {% image settings.meta_image_default original as meta_image %}
    <meta name="twitter:image" content="{{ meta_image.url }}" />
    <meta name="twitter:image:alt" content="{{ meta_image.alt }}" />
    {% endif %}
  {% endblock %}

{% endwith %}

